<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>febu</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    body{
         background-color:#eeeee4;
         background-image:url("{%static 'images/job2.jpg'%}");
         background-size:cover;


    }
    h1{
    color:blue;
    }
    h4{
    color:green;
    }
    h5{
    color:black;
    }
    p{
    color:green;
    }


</style>

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1><b>febu</b></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'findjob'%}">Find jobs</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">company reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find salaries</a>


                  <li class="nav-item">
          <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></i></a>
        </li>

                  <li class="nav-item">
          <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
</svg></a>
        </li>


           <li class="nav-item">
          <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg></a>
        </li>
      </ul>

      <span class="navbar-text">
          <a href="{%url 'empreg'%}">  Employers/Post </a>

      </span>

    </div>
  </div>
</nav>



<!--==========================================================================================-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="What:job title,keyword or company" aria-label="Search">
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->

      </form>
       <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="where:country" aria-label="Search">
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->

      </form>
      <button class="btn btn-primary" type="submit">find jobs</button>
  </div>
</nav>
<div align="center">
    <a class="nav-link" href="{%url 'empreg'%}">Employers: Post a job</a><p>Your next hire is here</p>
</div>

</body>
</html>