<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>febu</title>
    <style>
        body{
        background-color:pink;
        }


    </style>
</head>
<!-- As a link -->

<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'home'%}"><h1>home</h1></a>
  </div>
</nav>

<h1 align="center">Update Job</h1>

<div class="col-8" align="center">
<form action="" method="post">
{%csrf_token%}
{{form.as_p}}
    <input type="submit" value="update">
    </form>
</div>
</body>
</html>